*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  text-emphasis: justify;
}

body{
  background-color: #f7f7f7f7;
}

.container{
  margin: auto;
  max-width: 1200px;
  width: 90%;

  display: flex;
  flex-flow: row wrap;
}

header{
background-color: gold;
color: #ffffff;
padding: 1em;

align-items: center;
display: flex;
flex-basis: 100%;
flex-flow: row wrap;
justify-content: space-between;
}

header nav{
  background-color: red;
  padding: 1%;
  text-align: center;
  

  flex-basis: 40%;
}

nav a{
  color: #ffffff;
  padding: 1em;
  text-transform: uppercase;

  justify-content: space-around;
}
nav a:hover{
 background-color: blueviolet;
}

section  {
background-color: #ffffff;
padding: 1.5em;
flex-basis: 60%;
}
section p, section hr, section h2{
  margin-bottom: 1.5em;
}
aside {
  background-color: red;
  flex: 1 1 40%;
}

aside p{
  background-color: gold;
  padding: 1.5em;
  margin: 1em;
}

footer{
  background-color: gold;
  color: #ffffff;
  flex: 1 1 100%;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 760px){

  .Container{
    display: flex;
    flex-direction: column;
  }

  header{
    margin: 0;
    padding: 0;

    justify-content: center;
  }

  header nav{
    flex-basis: 100%;
  }
  h2{
    padding: 1.5em 0;
  }
  
}



